.Forecast {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

dl {
	margin: 0px;
	padding: 0px;
	text-align: center;	
	color: black;
}

dd {
	margin: 20px 0px;	
}

.Forecast-Info {
	margin: 10px;
	/* top: 0px; */
	left: 30px;
	width: 200px;
	position: relative;
	float: left;
	overflow: auto;
	color: black;
}

.Forecast-Title, .Parent-Title {
	margin: 10px 0px;
}

.To-Favorites-Info {
	margin: 10px;
	width: 130px;
	border: 1px solid #d1d1d1;
  	border-radius: 4px;
	font-size: 0.9em;
  
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.To-Favorites-Info:hover {
  background-color: white;
  color: gold;
  border: 1px solid gold;
}

.To-Favorites-Info:active {
  background-color: #d1d1d1;
  color: white;
  border: 1px solid white;
}

.Daily-Forecast {
	margin: 30px 25px;
	display: inline-block;
	color: black;
}

.Day {
	margin: 0px;
	padding: 0px;
}

/* .Weather-State {

} */

.Hidden {
	display: none;
}

.Weather-State img {
	width: 75px;
	height: 75px;
	float: center;
}

/* .Image-Wind-Arrow {
	width: 30 + 'px';
	height: 30 + 'px';
} */
