.Forecast {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

dl {
	margin: 0px;
	padding: 0px;
	text-align: center;	
	color: black;
}

dd {
	margin: 20px 0px;	
}

.Forecast-Info {
	margin: 10px 0px 10px 100px;
	float: left;
	overflow: auto;
	color: black;
}

.Forecast-Title, .Parent-Title {
	margin: 10px 0px;
}

.Daily-Forecast {
	margin: 30px;
	display: inline-block;
	color: black;
}

.Day {
	margin: 0px;
	padding: 0px;
}

/* .Weather-State {

} */

.Hidden {
	display: none;
}

.Weather-State img {
	width: 75px;
	height: 75px;
	float: center;
}

/* .Image-Wind-Arrow {
	width: 30 + 'px';
	height: 30 + 'px';
} */
