.Search {
  text-align: center;
  /* height: 100%; 150px */
  padding: 20px;
  color: white;
}

.Textfield {
  /* height: 100px; */
  width: 260px;
  font-size: 4em;
  background-color: white;
  /* margin: 10px 0px 10px 0px; */
}

.Title {
  font-size: 1.5em;
}

.Intro {
  font-size: large;
}

.MenuButton {
  background-color: white;
  height: 30px;
  width: 100px;
  margin: 10px 30px 10px 30px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.9em;
}

@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
